.CardsQuizPage {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2em;
}

.CardsQuizPage_Header {
  display: flex;
  justify-content: space-between;
}

.CardsQuizPage_Header h1 {
  margin: 0;
  line-height: 1.2em;
}

.CardsQuizPage_Header_Params {
  color: var(--color-neutral-7);
}

.CardsQuizPage_Header_Actions {
  display: flex;
  gap: 0.5em;
}

.CardsQuizPage_Header_PB {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  font-family: monospace;
  font-size: 1.2em;
}

.CardsQuizPage_Message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em auto 0 auto;
  gap: 1em;
}

.CardsQuizPage_Message > button {
  width: 10em;
}
