.HomePage {
  display: flex;
  flex-direction: column;
  gap: 3em;
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 2em;
}

.HomePage h2 {
  margin-bottom: 1.25rem;
}

.HomePage_Presets {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  column-gap: 1em;
  margin-bottom: 1rem;
  font-size: 1.2em;
}

.HomePage_Presets > span {
  color: var(--color-primary-3);
}

.HomePage_Presets > span:not(.selected) {
  cursor: pointer;
}

.HomePage_Presets > span:not(.selected):hover {
  text-decoration: underline;
}

.HomePage_Presets > span.selected {
  color: black;
}
