.QuizPage {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.QuizPage_Header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.QuizPage_Header h1 {
  margin: 0;
}
