.QuizPage {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.QuizPage h1,
.QuizPage h2 {
  margin: 0;
}

.QuizPage h2 {
  font-family: monospace;
  font-size: 2em;
}

.QuizPage_Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.QuizPage_Info_Ready,
.QuizPage_Info_Running,
.QuizPage_Info_Paused {
  flex: 1;
  display: flex;
  gap: 0.5em;
}

.QuizPage_Info_Running > *:first-child {
  flex: 1;
}

.QuizPage_Answers {
  columns: auto 15em;
  column-gap: 0.5em;
}

.QuizPage_Answers > div {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--color-neutral-3);
  break-inside: avoid;
}

.QuizPage_Answers > div:not(:first-child) {
  margin-top: -1px;
}

.QuizPage_Answer_Name,
.QuizPage_Answer_Text {
  padding: 0.1em 0.5em;
}

.QuizPage_Answer_Name {
  flex: 1;
}

.QuizPage_Answer_Text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid var(--color-neutral-3);
  background-color: #f9f7f5;
}
