.QuizPage {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.QuizPage_Header {
  display: flex;
  justify-content: space-between;
}

.QuizPage_Header h1 {
  margin: 0;
}

.QuizPage_Header_ActionsAndPB {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1em;
}

.QuizPage_Header_Actions {
  display: flex;
  gap: 0.5em;
}

.QuizPage_Header_PB {
  display: flex;
  gap: 1em;
  font-family: monospace;
  font-size: 1.2em;
}

.QuizPage_Message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em auto 0 auto;
  gap: 1em;
}

.QuizPage_Message > button {
  width: 10em;
}
