/* ========================================================================== */
/* Card */
/* ========================================================================== */

.CardSheet {
  display: flex;
  gap: 0.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* -------------------------------------------------------------------------- */
/* Card Face */
/* -------------------------------------------------------------------------- */

.CardSheet_Face {
  min-width: 20em;
  aspect-ratio: 0.714;
  position: relative;
  overflow: hidden;
}

.CardSheet_Face.W {
  background-image: url("/images/card-template/frame-white.png");
}

.CardSheet_Face.U {
  background-image: url("/images/card-template/frame-blue.png");
}

.CardSheet_Face.B {
  background-image: url("/images/card-template/frame-black.png");
}

.CardSheet_Face.R {
  background-image: url("/images/card-template/frame-red.png");
}

.CardSheet_Face.G {
  background-image: url("/images/card-template/frame-green.png");
}

.CardSheet_Face.M {
  background-image: url("/images/card-template/frame-gold.png");
}

.CardSheet_Face.C {
  background-image: url("/images/card-template/frame-colorless.png");
}

.CardSheet_Face.frame-land {
  background-image: url("/images/card-template/frame-land.png");
}

.CardSheet_Face.frame-artifact {
  background-image: url("/images/card-template/frame-artifact.png");
}

.CardSheet_Face.frame-vehicle {
  background-image: url("/images/card-template/frame-vehicle.png");
}

.CardSheet_Face > * {
  position: absolute;
}

/* -------------------------------------------------------------------------- */
/* Card BG */
/* -------------------------------------------------------------------------- */

.CardSheet_BG,
.CardSheet_FG {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  pointer-events: none;
}

.CardSheet_FG {
  z-index: 1;
}

/* -------------------------------------------------------------------------- */
/* Card Name */
/* -------------------------------------------------------------------------- */

.CardSheet_Name {
  top: 1.4em;
  left: 1.6em;
  right: 1.6em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.CardSheet_Name span {
  font-family: "Beleren";
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------------------------------------------------------------- */
/* Card Type */
/* -------------------------------------------------------------------------- */

.CardSheet_Type {
  top: 15.85em;
  left: 1.6em;
  right: 1.6em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
}

.CardSheet_Type span {
  font-family: "Beleren";
  font-size: 0.75em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardSheet_Face.vertical .CardSheet_Type {
  top: 23.8em;
}

/* -------------------------------------------------------------------------- */
/* Card Rarity */
/* -------------------------------------------------------------------------- */

.CardSheet_Rarity {
  height: 0.675em;
  width: 0.675em;
  margin-top: -0.1em;
  border: 0.1em solid transparent;
  border-radius: 100%;
}

.CardSheet_Rarity.common {
  border-color: white;
  background-color: black;
}

.CardSheet_Rarity.uncommon {
  border: 1px solid black;
  background-color: #ccd8e9;
}

.CardSheet_Rarity.rare {
  border: 1px solid black;
  background-color: #bfb285;
}

.CardSheet_Rarity.mythic,
.CardSheet_Rarity.bonus {
  border: 1px solid black;
  background-color: #e0732f;
}

.CardSheet_Rarity.special {
  border: 1px solid black;
  background-color: #a37ba0;
}

/* -------------------------------------------------------------------------- */
/* Card Art */
/* -------------------------------------------------------------------------- */

.CardSheet_Art {
  aspect-ratio: 1.367;
  top: 2.9em;
  left: 1.3em;
  width: 17.4em;
  z-index: -1;
  background-color: var(--color-neutral-4);
}

.CardSheet_Art > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.CardSheet_Art.aftermath-left > img {
  object-position: 22%;
}

.CardSheet_Art.aftermath-right > img {
  object-position: 94%;
}

.CardSheet_Art.fuse-left > img,
.CardSheet_Art.room-left > img {
  object-position: 0%;
}

.CardSheet_Art.fuse-right > img,
.CardSheet_Art.room-right > img {
  object-position: 100%;
}

.CardSheet_Art.flip > img {
  transform: rotate(180deg);
}

.CardSheet_Face.vertical .CardSheet_Art {
  aspect-ratio: 0.425;
  top: 3.1em;
  left: 1.3em;
  width: 8.7em;
}

/* -------------------------------------------------------------------------- */
/* Card Oracle */
/* -------------------------------------------------------------------------- */

.CardSheet_Oracle {
  top: 17.65em;
  left: 1.55em;
  right: 1.55em;
  bottom: 2.25em;
  overflow-y: auto;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.CardSheet_Oracle p {
  margin: 0;
  font-family: Garamond;
  font-size: 0.9em;
  line-height: 1.1em;
}

.CardSheet_Oracle p .plain {
  font-style: normal;
}

p.CardSheet_OracleDivider {
  border-top: 1px solid var(--color-neutral-6);
  margin: 0.4em 0;
}

.CardSheet_Face.vertical .CardSheet_Oracle {
  top: 3.1em;
  left: 10em;
  right: 1.55em;
  bottom: 4.5em;
  padding: 0.5em;
}

/* -------------------------------------------------------------------------- */
/* Card Stats */
/* -------------------------------------------------------------------------- */

.CardSheet_Stats {
  top: 25.2em;
  left: 15.9em;
  right: 1.4em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  z-index: 1;
}

.CardSheet_Stats span {
  font-family: "Beleren";
  font-size: 0.9em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CardSheet_Face.vehicle .CardSheet_Stats span {
  color: white;
}

/* -------------------------------------------------------------------------- */
/* Card Artist */
/* -------------------------------------------------------------------------- */

.CardSheet_Artist {
  top: 26.2em;
  left: 1.3em;
  right: 5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.CardSheet_Artist span {
  color: white;
  font-size: 0.6em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
