.CardsQuizFreeTyping {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.CardsQuizFreeTyping_Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 0.5em;
}

.CardsQuizFreeTyping_Info_Ready,
.CardsQuizFreeTyping_Info_Running,
.CardsQuizFreeTyping_Info_Paused,
.CardsQuizFreeTyping_Info_Stopped {
  flex: 1;
  display: flex;
  gap: 0.5em;
}

.CardsQuizFreeTyping_Info_Ready > button,
.CardsQuizFreeTyping_Info_Paused > button,
.CardsQuizFreeTyping_Info_Stopped > button {
  min-width: 10em;
}

.CardsQuizFreeTyping_Info_Running > *:first-child {
  flex: 1;
}

.CardsQuizFreeTyping_Info .QuizProgress {
  font-size: 2em;
}

.CardsQuizFreeTyping_Answers {
  columns: auto 20em;
  column-gap: 0.5em;
  font-size: 0.9em;
}

.CardsQuizFreeTyping_Answers > div {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--color-neutral-6);
  break-inside: avoid;
}

.CardsQuizFreeTyping_Answers > div:not(:first-child) {
  margin-top: -1px;
}

.CardsQuizFreeTyping_Answer_Name,
.CardsQuizFreeTyping_Answer_Text {
  padding: 0.1em 0.5em;
}

.CardsQuizFreeTyping_Answer_Name {
  flex: 1;
  word-break: break-word;
}

.CardsQuizFreeTyping_Answer_Name.success {
  animation: successTransition 1s ease-out forwards;
}

.CardsQuizFreeTyping_Answer_Name.failure {
  background-color: var(--color-danger-2);
}

.CardsQuizFreeTyping_Answer_Box,
.CardsQuizFreeTyping_Answer_Text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid var(--color-neutral-6);
  background-color: var(--color-neutral-3);
}

.CardsQuizFreeTyping_Answer_Box > * {
  height: 100%;
}

@keyframes successTransition {
  0% {
    background-color: var(--color-highlight-2);
  }
  100% {
    background-color: var(--color-success-2);
  }
}
