.CardRarityIndicator {
  height: 0.7em;
  width: 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CardRarityIndicator > div {
  height: 80%;
  width: 80%;
  border: 0.1em solid transparent;
  transform: rotate(45deg);
}

.CardRarityIndicator.common > div {
  border-color: white;
  background-color: black;
}

.CardRarityIndicator.uncommon > div {
  border-color: black;
  background-color: #ccd8e9;
}

.CardRarityIndicator.rare > div {
  border-color: black;
  background-color: #bfb285;
}

.CardRarityIndicator.mythic > div,
.CardRarityIndicator.bonus > div {
  border-color: black;
  background-color: #e0732f;
}

.CardRarityIndicator.special > div {
  border-color: black;
  background-color: #a37ba0;
}
