.CatalogQuizList {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.CatalogQuizList tbody {
  cursor: pointer;
}

.CatalogQuizList tbody > tr:hover {
  background-color: rgba(101, 82, 0, 0.075);
}

.CatalogQuizList tr {
  border-bottom: 1px solid var(--color-neutral-4);
}

.CatalogQuizList tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.CatalogQuizList th,
.CatalogQuizList td {
  padding: 0.3125em 0.375em;
}

.CatalogQuizList th {
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.CatalogQuizList td {
  font-size: 100%;
}

.CatalogQuizList th.narrow,
.CatalogQuizList td.narrow {
  width: 1%;
  white-space: nowrap;
}

.CatalogQuizList th.right,
.CatalogQuizList td.right {
  text-align: right;
}
