.CatalogQuizFreeTyping {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.CatalogQuizFreeTyping_Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 2em;
  row-gap: 0.5em;
}

.CatalogQuizFreeTyping_Info_Ready,
.CatalogQuizFreeTyping_Info_Running,
.CatalogQuizFreeTyping_Info_Paused,
.CatalogQuizFreeTyping_Info_Stopped {
  flex: 1;
  display: flex;
  gap: 0.5em;
}

.CatalogQuizFreeTyping_Info_Ready > button,
.CatalogQuizFreeTyping_Info_Paused > button,
.CatalogQuizFreeTyping_Info_Stopped > button {
  min-width: 10em;
}

.CatalogQuizFreeTyping_Info_Running > *:first-child {
  flex: 1;
}

.CatalogQuizFreeTyping_Info .QuizProgress {
  font-size: 2em;
}

.CatalogQuizFreeTyping_Answers {
  columns: auto 15em;
  column-gap: 0.5em;
  font-size: 0.9em;
}

.CatalogQuizFreeTyping_Answers.compact {
  columns: auto 10em;
}

.CatalogQuizFreeTyping_Answers > div {
  display: flex;
  align-items: stretch;
  border: 1px solid var(--color-neutral-6);
  break-inside: avoid;
}

.CatalogQuizFreeTyping_Answers > div:not(:first-child) {
  margin-top: -1px;
}

.CatalogQuizFreeTyping_Answer_Name,
.CatalogQuizFreeTyping_Answer_Text {
  padding: 0.1em 0.5em;
}

.CatalogQuizFreeTyping_Answer_Name {
  flex: 1;
  word-break: break-word;
}

.CatalogQuizFreeTyping_Answer_Name.success {
  animation: successTransition 1s ease-out forwards;
}

.CatalogQuizFreeTyping_Answer_Name.failure {
  background-color: var(--color-danger-2);
}

.CatalogQuizFreeTyping_Answer_Box,
.CatalogQuizFreeTyping_Answer_Text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid var(--color-neutral-6);
  background-color: var(--color-neutral-3);
}

.CatalogQuizFreeTyping_Answer_Box > * {
  height: 100%;
}

@keyframes successTransition {
  0% {
    background-color: var(--color-highlight-2);
  }
  100% {
    background-color: var(--color-success-2);
  }
}
