.QuizCreationForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.QuizCreationForm_Inputs {
  display: flex;
  gap: 0.5em;
}

.QuizCreationForm_Inputs > *:first-child {
  flex: 1;
}

.QuizCreationForm_Options {
  display: flex;
  gap: 1.5em;
}
