.QuizList {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.QuizList tbody {
  cursor: pointer;
}

.QuizList tbody > tr:hover {
  background-color: rgba(101, 82, 0, 0.075);
}

.QuizList tr {
  border-bottom: 1px solid #e0dee3;
}

.QuizList tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.QuizList th,
.QuizList td {
  color: #16161d;
  padding: 0.3125em 0.375em;
}

.QuizList th {
  font-size: 0.75em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
}

.QuizList td {
  font-size: 100%;
}

.QuizList td.narrow {
  width: 1%;
  white-space: nowrap;
}
