.QuizCreationForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.QuizCreationForm_Inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.QuizCreationForm_Inputs > *:first-child {
  flex: 1;
}

.QuizCreationForm_Hints {
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6.1em);
  column-gap: 1em;
  row-gap: 0.5em;
}

.QuizCreationForm_Buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  width: 100%;
}

.QuizCreationForm_Buttons > button {
  flex: 1;
  max-width: 10em;
}
