.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App_Header {
  background-color: var(--color-primary-5);
  color: rgba(255, 255, 255, 0.75);
}

.App_Header_Content {
  width: 100%;
  max-width: var(--page-width);
  margin: 0 auto;
}

.App_Header_Content {
  padding: 0 2em;
  height: 3.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App_Header_Group {
  display: flex;
  align-items: center;
  gap: 0.875em;
}

.App_Header_Group a {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.App_Header_Group a,
.App_Header_Group a:active {
  color: rgba(255, 255, 255, 0.75) !important;
  text-decoration: none;
  font-weight: 500;
}

.App_Header_Group a:focus,
.App_Header_Group a:hover {
  color: white;
  outline: none;
  text-decoration: none;
}

.App_Header_Group a:focus > b,
.App_Header_Group a:hover > b {
  text-decoration: underline;
}

.App_Header_Divider {
  width: 1px;
  height: 1.25em;
  background-color: rgba(255, 255, 255, 0.75);
}
