:root {
  font-family: Lato, "Helvetica Neue", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-1: #7652b1;
  --color-primary-2: #634496;
  --color-primary-3: #551a8b;
  --color-primary-4: #3b1260;
  --color-primary-5: #2b253a;
  --color-neutral-1: #fdfdfd;
  --color-neutral-2: #fefefe;
  --color-neutral-3: #f9f7f5;
  --color-neutral-4: #e0dee3;
  --color-neutral-6: #aeaeae;
  --color-neutral-8: #343242;
  --color-danger-1: #a71f2a;
  --color-danger-2: #a71f2a10;
  --color-success-2: #1fa73320;
  --color-highlight-2: #fade3e60;

  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@media (max-width: 32em) {
  :root {
    font-size: 2.1vw;
    overflow: hidden;
  }
}

html {
  background-color: var(--color-neutral-1);
}

body {
  margin: 0;
}

h1,
h2 {
  color: var(--color-neutral-8);
  font-weight: 300;
  margin: 0;
}

button,
input,
select {
  font-size: 1em;
  padding: 0.5em 0.625em;
  border-radius: 0.125em;
  border: 1px solid var(--color-neutral-6);
  background-color: var(--color-neutral-2);
}

input:focus,
select:focus {
  box-shadow: 0px 0px 3px var(--color-neutral-6);
  background-color: white;
  border-color: var(--color-primary-3);
  outline: none;
}

button,
input[type="checkbox"],
select {
  cursor: pointer;
}

button {
  font-family: Lato, "Helvetica Neue", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: bold;
  background-color: var(--color-neutral-3);
  border: 1px solid var(--color-primary-3);
  color: var(--color-primary-3);
  font-size: 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

button.small {
  font-size: 0.75rem;
  padding: 0 0.4375rem;
  height: 1.375rem;
}

button.danger {
  color: var(--color-danger-1);
  border-color: var(--color-danger-1);
}

button.solid {
  color: white;
  border-color: var(--color-primary-2);
  background-color: var(--color-primary-2);
}

button.icon {
  border-color: transparent;
  background-color: transparent;
}

button.icon:hover {
  color: var(--color-primary-1);
}

button.icon abbr[title] {
  text-decoration: none;
}

button:focus,
button:hover {
  background-color: white;
}

button:focus.solid,
button:hover.solid {
  background-color: var(--color-primary-1);
}

button:focus {
  outline: none;
}

select {
  appearance: none;
  padding-right: 1.875rem;
  background-image: url(https://scryfall.com/assets/icons/chevron-down-07650cfb6fb5a3e0c65f37dfae2458435e3614f3b8d7c8bd6b7565876a0a0524.svg);
  background-position: right 0.5rem top 0.75rem;
  background-repeat: no-repeat;
  background-size: auto 40%;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 1.625rem;
  width: 1.625rem;
  margin: 0;
  padding: 0;
  color: var(--color-primary-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="checkbox"]:checked::before {
  font-size: 1.25rem;
  content: "✓";
}

label {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  gap: 0.5em;
}

label:has(input[type="checkbox"]) {
  cursor: pointer;
}

a,
a:visited {
  color: var(--color-primary-3);
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

a:focus {
  color: black;
  outline: none;
}

a.error,
a.error:visited {
  color: var(--color-danger-1);
}
